<p><%= link_to "return", :back %></p>
<h1><%= @word.name %></h1>

<%= form_for(@user_word) do |f| %>
  <%= f.collection_radio_buttons :status, UserWord::STATUS_VALUES.to_a, :first, :first, {}, {class: 'form-check-input'} %>

  <%= f.submit "save", class: 'btn btn-primary' %>
<% end %>

<div class="row mt-3">
  <% @word.sentences.each do |sentence| %>
    <div class='col-sm-12 col-md-6 mb-3'>
      <div class="card">
        <div class="card-body">
          <p class="card-text"><%= sentence.raw_text %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
