<h1 class='mb-3'>
  <%= @course.name %>
</h1>

<h2 class='mb-3'>
  Chapters
  <%= link_to 'New Chapter', new_course_chapter_path(@course), class: 'btn btn-primary' %>
</h2>
<ol class='list-group list-group-numbered'>
  <% @course.chapters.each do |chapter| %>
    <li class='list-group-item'>
      <%= link_to chapter.name, course_chapter_path(@course, chapter) %>
    </li>
  <% end %>
</ol>

<br>
<br>

<h2>Most common words in the book</h2>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th scope='col'>Word</th>
      <th scope='col'>Frequency</th>
      <th scope='col'>Known</th>
    </tr>
  </thead>
  <tbody>
    <% @most_common_words.each do |user_word| %>
      <% word = user_word.word %>
      <tr>
        <td>
          <%= link_to(word.name, word_path(word.name)) %>
        </td>
        <td><%= word.frequency %></td>
        <td>
          <%= form_for(user_word) do |f| %>
            <%= f.collection_radio_buttons :status, UserWord::STATUS_VALUES.to_a, :first, :first %>

            <%= f.submit "save" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>